        {% extends 'base.html.twig' %}
        {% block body %}
	<!--
<?php 
// Afficher les erreurs
error_reporting(E_ALL);
ini_set('display_errors', '1');
?>
<?php 

session_start();
// Si l'utilisateur ne s'est pas connecté
if(!isset($_SESSION['id'])){
	// On le renvoie a la page d'inscription
	header('Location: inscrire.php');
	exit();
}

?>
-->
	
	<h3>TON ESPACE</h3>
	
	<div id="contenu">
		<div>
			<p id="liste">Bienvenue <?php echo htmlentities(trim($_SESSION['prenom'])); ?> !</p>
			<br/><form action="deconnexion.php"><input type="submit" value="Se déconnecter"></form>
			<br/><form action="informations.php"><input type="submit" value="Modifier mes informations"></form>
			<br/><form action="#"><input type="submit" value="Supprimer mon compte"></form>
		</div>

	</div>	
       {% endblock %}